body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* ✅ HERO */
.hero {
    background-color: #e3b933;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    
    text-align: center;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3a2100;
    line-height: 1.2;
}

.hero-content h1 span {
    color: #7a4a0c;
}

.hero-content p {
    margin-top: 15px;
    font-size: 18px;
    color: #3a2100;
}

/* ✅ SEARCH & FILTER */
.filter-section {
    background: #fff;
    text-align: center;
    padding: 25px 0;
}

.filter-section input {
    width: 45%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    outline: none;
}

.filter-btn button {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 18px;
    margin: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.filter-btn button.active,
.filter-btn button:hover {
    background: #f0d79c;
    border-color: #c4962e;
}

/* ✅ CARD */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #efefef;
    padding: 35px 0;
}

.card {
    width: 280px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    background: #d5d5d5;
}

.card p {
    font-weight: 600;
    padding: 15px;
}
